@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Share+Tech+Mono");

html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter { margin: 0; padding: 0; font-size: 100%; }
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,section,summary { display: block; }
li { list-style-type: none; }
a img { border: none; }
img { vertical-align: bottom; }
object,object:focus { outline:none; }

.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }

html,
body,
#view {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: table;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 14px;
  line-height: 1;
}

#view {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#view.current {
  color: #000;
  background-color: #fff;
}

#view.remaining {
  color: #fff;
  background-color: #000;
}

#view.remaining.over {
  background-color: #ff0000;
}

#time {
  font-size: 256px;
  letter-spacing: -20px;
  cursor: pointer;
}
