@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Share+Tech+Mono");

html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter { margin: 0; padding: 0; font-size: 100%; }
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,section,summary { display: block; }
li { list-style-type: none; }
a img { border: none; }
img { vertical-align: bottom; }
object,object:focus { outline:none; }

.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }

html,
body,
#view {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: table;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 14px;
  line-height: 1;
}

#view {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-image: url(/images/orange.png);
  background-repeat: no-repeat;
  background-size: 0 100%;
}

#view.off {
  color: #039e41;
  background-image: none;
  background-color: #fff;
}

#view.on {
  color: #fff;
  background-color: #039e41;
}

#view.on.over {
  background-image: none;
  background-color: #db0000;
}

#time {
  font-size: 256px;
  letter-spacing: -20px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#buttons {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
}

.button {
  width: 50px;
  height: 50px;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #039e41;
  cursor: pointer;
}

#button-minus {
  float: left;
  background-image: url(/images/button-minus.png);
}

#button-plus {
  float: right;
  background-image: url(/images/button-plus.png);
}

